@import "../../variables";

.about {
    background-color: $background-color;

    h1 {
        text-align: center;
    }
}

h1::before { 
    display: block; 
    content: " "; 
    margin-top: -56px; 
    height: 56px; 
    visibility: hidden; 
    pointer-events: none;
  }

