@import "../../variables";

.navbar {
    font-family: $font-stack-bold;
    border-bottom: black 1px solid;
    background-color: $background-color;

        a {
            margin: 0 10px !important;
            text-decoration: none !important;
            color: Black;
            
            

            &:hover {
                color: rgb(63, 58, 58);
            }
        }
}

.brand {
    img {
        width: 6vw;
        height: auto;
    }
} 

.nav-item {
    a {
        color: Black !important;
        font-style: italic;
    }
}

.btn {
    outline: none !important;
}



