@import '../../variables';

html { 
    height: 100% 
} 

body { 
    min-height: 100% 
}

.home {
    width: 100vw;
    padding: $background-padding;
    
}

.imgCenter {
    margin-top: 5px !important;
    display: flex;
    justify-content: center; 
    border: black 1px solid;
    border-top: none;
    height: auto;

        img {
            width: 100%;
            overflow: hidden;
            align-self: flex-start;
    }
}

.logo {
    display: flex;
    justify-content: center;
    margin: 5px !important;

        img {
            width: 18vw;
            height: auto;
            align-self: flex-start;
        }
}

@media only screen and (max-width: 600px) {

    .home {
        margin: 0 !important; 
        height: 100%; 
        overflow: hidden;
        padding: 0;
        width: auto;
    }

    .logo {
        margin: 5vh 0 !important;
        width: 100%; 
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
       
        img {
            height: 20vh;
            width: auto;
        }
    }

    .contactFooter {
        width: 100%;
    }
}





