@import '../../variables';

.home {
    width: 100vw;
    padding: 0 66px;
}

.imgCenter {
    display: flex;
    justify-content: center;    
        img {
            width: 80vw;
            height: auto;
    }
}

h1 {
    text-align: center;
    padding: 30px 0;
}





