@import "../../variables";
  .contact {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
  }

  .fontawesome {
    color: green;
    margin: 0 30px !important;

      &:hover {
        transform: scale(1.5);
      }
  }