@import "../../variables";

.inspiration {
    padding: $background-padding;
}

.galleryContainer {
    display: "block";
    min-Height: "1px";
    width: "100%";
    border: "1px solid #ddd";
    overflow: "auto";
    text-Align: "center";
    background: "white";
}

// #images_grid {
//     display: grid;
//     grid-template-areas: 
//     "image01 image02"
//     "image03 image04";  
   
//     #image01 {
//         grid-area: image01;
//         height: 200px;
//         // width: auto;
//         position: relative;
//     }

//     #image02 {
//         grid-area: image02;
//         width: 200px;
//         // height: auto;
//         position: relative;
//     }

//     #image03 {
//         grid-area: image03;
//         width: 200px;
//         // height: auto;
//         position: relative;
//     }

//     #image04 {
//         grid-area: image04;
//         width: 200px;
//         // height: auto;
//         position: relative;
//     }    
// }

// .imageName {
//     transition: 0.5s ease;
//     opacity: 0;
//     position: absolute;
//     top: 0;
//     left: 0;
//     font-size: 20px;
//     display: flex;
//     justify-content: center;
//     align-content: center;
//     flex-direction: column;
//     text-align: center;
//     width: 100%;
//     height: 100%;
//     text-decoration: none;
//     overflow: hidden;
    
//     &:hover {
//         opacity: 0.9;
//     }
// }

// .inspirationImage {
//     opacity: 1;
//     display: block !important;
//     width: 100%;
//     height: 100%;
//     transition: 0.5s ease;
//     overflow: hidden;
// }
// .inspirationImage:hover {
//     opacity: 0.3;
// }
// a:link {
//     text-decoration: none;
// }