@import "../../variables";

  .contact {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .email {
    display: flex;
    flex-direction: row;
  }

  .instagram {
    display: flex;
    flex-direction: row;
  }
      
  a {
    text-decoration: none !important;
    color: $font-color !important;
  }

  .fontawesome {
    color: green;
    margin: 0 5px !important;
    padding: 5px;
  }

  @media only screen and (max-width: 600px) {
    .contact {
      flex-direction: row;
    }
  }