@import "../../variables";

  .contact {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
    // padding: 5px;
    padding-top: 20px;
    background-color: $background-color;
    border-top: black 1px solid;
  }

  .contactVia {
    text-align: center;
  }

  .email {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px !important;
      
      a {
          font-size: 25px !important;
          align-items: center;
        }
  }

  .instagram {
    display: flex;
    flex-direction: row;
    align-items: center;
      
      a {
          font-size: 15px !important;
        }
  }
      
  #contactEmail, #contactInstagram {
    display: flex;
    flex-direction: row;
    text-decoration: none !important;
    color: $font-color !important;
    font-size: $font-size-contact;
    align-items: center;
    padding-left: 10px;
  }

  .instagramFooter {
    display: flex;
    flex-direction: row;
    margin: 0 15px 0 0 !important;
  }

  .createdBy {
    width: 100%;
    text-align: right;
      a {
        text-decoration: none !important;
        color: $font-color !important;
      }
  }

  .fontawesome {
    color: green;
    
  }

  @media only screen and (max-width: 600px) {

    .contact {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px 15px 0 15px;
    }

    .instagramFooter {
      display: flex;
      flex-direction: column;
    }
    
    .createdBy {
      text-align: center;
    }
    .contactVia {
      text-align: center;
    }

    #contactEmail, #contactInstagram {
      padding-left: 5px;
      align-items: center;
    }

  }