@import "../../variables";

  .contact {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .email {
    display: flex;
    flex-direction: row;
  }

  .instagram {
    display: flex;
    flex-direction: row;

  }
      
  #contactEmail, #contactInstagram {
    display: flex;
    flex-direction: row;
    text-decoration: none !important;
    color: $font-color !important;
    font-size: $font-size-contact;
    align-items: center;
    
    &:hover {
      transform: scale(1.1);
    }
  }

  .fontawesome {
    color: green;
    margin-right: 5px !important;
  }

  @media only screen and (max-width: 600px) {
    .contact {
      flex-direction: row;
    }
  }