@font-face {
    font-family: "Moto Sans KR Regular";
    src: url("./Static/Fonts/NotoSansKR/NotoSansKR-Regular.otf");
}

@font-face {
    font-family: "Moto Sans KR Bold";
    src: url("./Static/Fonts/NotoSansKR/NotoSansKR-Bold.otf");
}