@font-face {
    font-family: "Playfair Display Regular";
    src: url("./Static/Fonts/NotoSansKR/PlayfairDisplay-Regular.ttf");
}

@font-face {
    font-family: "Playfair Display Bold";
    src: url("./Static/Fonts/NotoSansKR/PlayfairDisplay-Bold.ttf");
}