@import "./fonts";

$font-stack: "Playfair Display Regular";

$primary-color: #ff007e;
$secondary-color: #222528;
$background-color: #799e88;
$font-color: black;
$background-padding: 0 66px;
$heading-padding: 20px 0;
$font-size: 15px;
$font-size-contact: 12px;