$font-stack: "Montserrat Medium", sans-serif;

$primary-color: #ff007e;
$secondary-color: #222528;
$background-color: white;
$navbar-color: #121417;
$font-color: black;
$background-padding: 0 66px;
$heading-padding: 20px 0;
$font-size: 14px;
$font-size-contact: 10px;